* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-nav {
  position: sticky;
  top: 0;
  background-color: blueviolet;
}

.main-nav ul {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.main-nav ul li {
  list-style: none;
}

.main-nav ul li:hover {
  font-size: 1.5em;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  color: blueviolet;
  margin-bottom: 2.5rem;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  border: 3px solid blueviolet;
}

.short-intro {
  margin-top: 1.5rem;
  color: blueviolet;
  font-size: 1.3rem;
  font-weight: 10%;
}

.long-intro {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.intro-item {
  color: white;
  padding: 0.9rem;
  width: 60%;
  background-color: blueviolet;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}

.intro-item-1 {
  align-self: center;
}
.intro-item-2 {
  align-self: flex-start;
  margin-left: 0.5rem;
}

.intro-item-3 {
  align-self: flex-end;
  margin-right: 0.5rem;
}

footer {
  margin-top: 1.5rem;
  text-align: center;
  color: blueviolet;
}
